  @using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
      @Html.ValidationSummary(true)
    <table id="productlist" >

       <thead>
        <tr>
            <th> Product Name </th>
            <th> Description </th>
            <th> Quantity </th>
        </tr>
    </thead>
        <tbody id="table-rows" class="prodlist-table">

        </tbody>

      </table>
      <input type="submit" value="Submit Order" />
  }