@model IEnumerable<EntityLibrary.OrderProduct>

@using (Html.BeginForm("ProducttoList", "Order", FormMethod.Post, new { id = "productselectform" }))
{<p>Select Product :
    <select name="Id" id="countryselection">
 
    @foreach (var item in Model)
    { 
    
        <option value="@item.Id"> @Html.DisplayFor(modelItem => item.ProductName)</option>
    }
        <option value="0">Others</option>

    </select>
    
  
    <input type="submit" value="Add to request" />
    </p>
}

<script>

   
    $('#table-rows').on('click', 'input[type="button"]', function (e) {
        e.preventDefault();
        $(this).closest('tr').remove();
        checktable();
    });
    $('#productselectform').submit(function (e) {
        e.preventDefault();
        var ProdId = $("#countryselection").val();
        if (ProdId != 0) {
            var json_strng2 = JSON.stringify({ Id: ProdId });
            $.ajax({
                url: $("#productselectform").attr("action"),
                type: 'POST',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: json_strng2,
                success: function (responseText, status) {
                    $("#table-rows").append("<tr ><td class='ProductName'>" + responseText.ProductName + "</td>" +
                                            "<td class='Description'>" + responseText.Description + "</td>" +
                                            "<td class='Quantity'><input type='number' class='Quantityinput' name='Quantity' min=1 step=1 required='required'>" +
                                            "<input type='hidden' name='Id' value='" + responseText.Id + "'>" +
                                            "<input type='hidden' name='ProductName' value='" + responseText.ProductName + "'>" +
                                            "<input type='hidden' name='Description' value='" + responseText.Description + "' ></td>" +
                                            "<td><input type='button' value='Remove'></td></tr>");
                    checktable();
                    $(".validation-summary-errors").remove();
                }
            });
        } else {
            $("#table-rows").append("<tr ><td class='ProductName'><input type='text' name='ProductName' placeholder='Product Name' required></td>" +

                                           "<td  class='Description'><textarea name='Description' row='5' placeholder='Product Description' required></textarea></td>" +
                                           "<td class='Quantity'><input type='number' class='Quantityinput' name='Quantity' min=1 step=1 required='required'>" +
                                           "<input type='hidden' name='Id' value='0'  >" +
                                           "<td><input type='button' value='Remove'></td></tr>");
            checktable();
            $(".validation-summary-errors").remove();
        }
         
        });
  
    
    function checktable() {
        var rowCount = $('#table-rows tr').length;
        if (rowCount == 0) {
            $("#table-rows").append("<tr id='noprod' ><td colspan=4  class='none'><p>No Product Added to list</p></td></tr>");
        }
        else {
            $("#noprod").remove();
        }
    }
   
    
</script>
