

@{
    ViewBag.Title = "Index";
}
<div class="center">
<p class="headerp">Order Over View :  @Html.ActionLink("Order Overview", "OrderOverView")</p>
<h2 class="headertitle">New Order</h2>
     <div id="selection">

    </div>
    <div id="table-block">
  
 </div>
   
</div>
<script>
    $(function () {
          
        $.get("/Order/GetList", function (data) {
            $("#table-block").append(data);
        });
        $.get("/Order/getproducts", function (data) {
            $("#selection").html(data);
        });
    });
</script>