

@{
    ViewBag.Title = "Index";
}
<div class="center">
<p class="headerp">Order Over View :  @Html.ActionLink("Order Overview", "OrderOverView")</p>
<h2 class="headertitle">New Order</h2>
     <div id="selection">

    </div>
    <div id="table-block">
    @using (Html.BeginForm("Index", "Order", FormMethod.Post))
    {
      @Html.ValidationSummary(true)
        <table id="productlist" >
        </table>
        <input type="submit" value="Submit Order" />

    }
 </div>
   
</div>
<script>
    $(function () {
          
        $.get("/Order/GetList", function (data) {
            $("#productlist").append(data);
        });
        $.get("/Order/getproducts", function (data) {
            $("#selection").html(data);
        });
    });
</script>