@model EntityLibrary.Order

@{
    ViewBag.Title = "OrderConfirmation";
}

<h2 class="headertitle">Order Confirmation</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
        <strong>Your Order No.</strong>
    </div>
    <div class="display-field">
        <span class="alizarin">@Html.DisplayFor(model => model.OrderNo)</span>
    </div>
    <div>
        <p>Thank You !</p>
    </div>


   

    
</fieldset>
<div>
    @Html.ActionLink("Home", "Index","Order")
</div>
