@model EntityLibrary.Order

@{
    ViewBag.Title = "OrderConfirmation";
}

<h2>OrderConfirmation</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         Order No.
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderNo)
    </div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    
</fieldset>
<p>
   
</p>
