@model EntityLibrary.Order

@{
    ViewBag.Title = "OrderConfirmation";
}

<h2>Order Confirmation</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
        Your Order No.
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderNo)
    </div>
    <div>
        <p>Thank You !</p>
    </div>


   

    
</fieldset>
<div>
    @Html.ActionLink("Home", "Index","Order")
</div>
