@model IEnumerable<EntityLibrary.OrderModels.OrderProductsInputModel>

@{
    ViewBag.Title = "OrderCheck";
}

<h2 class="headertitle">Order Check</h2>



    <table class="center_table">
    <tr>
        <th class="Quantity">
           Quantity
        </th>
        <th class="ProductName">
           Product Name
        </th>
        <th class="Description">
           Description
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td class="Quantity">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td class="ProductName">
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td class="Description">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
           
    </tr>
    }
        @using (Html.BeginForm("OrderConfirmation", "Order"))
        {
        
        <tr>
            <td ><input type="submit" value="Confirm Order" /></td>
            <td>@Html.ActionLink("Back", "Index")</td>
            <td></td>
        </tr>
        }
    </table>
