@if (Request.IsAuthenticated)
{
    <p>
        <span>Hello,  @Html.Encode(User.Identity.Name.Split(',')[0])
 !</span>
        @Html.ActionLink("Sign out", "signout", "SignIn")
        
    </p>
} else {
    <ul>
       
        <li>@Html.ActionLink("Sign in", "Index", "signin")</li>
    </ul>
}
